.App {
  display: flex;
  flex-direction: column;
  height: 98vh;
  align-items: center;
  justify-content: center;
  border: 2px solid rebeccapurple;
}

.messages {
  display: flex;
  margin: 10px;
  /* border: 1px solid black; */
  width: 450px;
  font-size: 1.2em;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 3px solid rgb(44, 15, 188);

}

.cell {
  display: flex;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 5em;
}

.errorMsgs {
  color: red;
}

.rejugar {
  margin: 3px;
}